Repository UpInTownDev/nuge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd mobile && npm run lint:fix, cd mobile && npm run format, cd backend && npm run lint:fix, cd backend && npm run format

fix(config): re-enable full git hooks functionality
  .husky/pre-commit
Due: none

docs(config): confirm git hooks working correctly
  test-setup.md
Due: prettier --write

docs: add comprehensive setup completion documentation
  SETUP-COMPLETE.md
Due: prettier --write

chore: finalize configuration with mobile type checking disabled
  .lintstagedrc.json
  .prettierrc
  mobile/App.tsx
  mobile/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cd mobile && npm run lint:fix, cd mobile && npm run format

fix(config): disable mobile type checking until dependencies are added
  .husky/pre-commit
  mobile/tsconfig.json
Due: prettier --write

fix(config): remove maximum length restriction for commit messages to allow more descriptive commit messages
  SETUP-COMPLETE.md
  commitlint.config.js
  test-setup.md
Due: eslint --fix, prettier --write

chore(ci-cd): update deployment conditions to include variable and clean up branch formatting
  .github/workflows/ci-cd.yml
  .github/workflows/staging-deploy.yml
  commitlint.config.js
  env.example
  mobile/eas.json
Due: eslint --fix, prettier --write

fix(mobile): resolve linting, type checking, and testing issues
  .husky/pre-push
  mobile/.eslintrc.js
  mobile/App.tsx
  mobile/__tests__/App.test.tsx
  mobile/babel.config.js
  mobile/jest.setup.js
  mobile/package.json
  mobile/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cd mobile && npm run lint:fix, cd mobile && npm run format

fix(backend): resolve eslint configuration and linting issues
  backend/eslint.config.mjs
  backend/src/app.controller.spec.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  mobile/package.json
Due: eslint --fix, prettier --write, cd backend && npm run lint:fix, cd backend && npm run format

chore: update Node.js and npm engine requirements, modify Husky setup script, and enhance CI/CD workflow with dependency checks
  .github/workflows/ci-cd.yml
  backend/package.json
  commitlint.config.js
  mobile/package.json
  package.json
  scripts/setup-husky.sh
Due: eslint --fix, prettier --write

chore(mobile): update Jest setup for React Native testing, modify test command, and enhance test environment configuration
  commitlint.config.js
  mobile/__tests__/App.test.tsx
  mobile/assets/splash.png
  mobile/jest.setup.js
  mobile/package.json
  package-lock.json
Due: eslint --fix, prettier --write, cd mobile && npm run lint:fix, cd mobile && npm run format

chore(mobile): update package dependencies, integrate Tailwind CSS and NativeWind, and streamline app configuration
  mobile/App.tsx
  mobile/app.json
  mobile/babel.config.js
  mobile/global.css
  mobile/metro.config.js
  mobile/nativewind-env.d.ts
  mobile/package.json
  mobile/tailwind.config.js
  mobile/tsconfig.json
  package-lock.json
Due: eslint --fix, prettier --write, cd mobile && npm run lint:fix, cd mobile && npm run format

chore(mobile): update package dependencies, enhance linting commands, and adjust TypeScript configuration for improved module resolution
  backend/package.json
  mobile/babel.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/tsconfig.json
  package-lock.json
Due: eslint --fix, prettier --write

chore(mobile): update package dependencies, enhance installation and cleanup scripts, and remove deprecated backend package-lock.json
  backend/package-lock.json
  mobile/package.json
  package-lock.json
  package.json
Due: prettier --write

chore(ci-cd): update CI/CD workflows to streamline dependency management, enhance linting and testing commands, and adjust deployment scripts for backend and mobile services
  .github/workflows/ci-cd.yml
  .github/workflows/staging-deploy.yml
  package-lock.json
Due: prettier --write

chore(mobile): update package dependencies to include expo-router, nativewind, and tailwindcss, and adjust versions for improved compatibility
  mobile/package.json
  package-lock.json
Due: prettier --write

chore(mobile): integrate React Navigation for tab navigation, update dependencies, and remove unused packages for cleaner project structure
  mobile/App.tsx
  mobile/package.json
  package-lock.json
Due: eslint --fix, prettier --write, cd mobile && npm run lint:fix, cd mobile && npm run format

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  cd mobile && npm run lint:fix: any of: mobile/**/*.{ts,tsx}
  cd mobile && npm run format: any of: mobile/**/*.{ts,tsx}
  cd backend && npm run lint:fix: any of: backend/**/*.{ts,tsx}
  cd backend && npm run format: any of: backend/**/*.{ts,tsx}
